<div class="register-main">
  <div class="head-login">
    <!-- <link rel="stylesheet" href="registration.component.css"> -->
      <div class="img">
          <img src="logo.png" alt="sdhub">
      </div>
      <div class="login-heading">
          <p class="head-p">Student Registration</p>
          <p>Skill Development Hub</p>
      </div>
  </div>
  <mat-stepper [linear]="islinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Peronal details</ng-template>
        <h4 style="text-decoration: underline;">Application information</h4>
        <mat-form-field>
          <mat-label>Student ID</mat-label>
          <input type="text" matInput placeholder="student id" formControlName="studentID" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Application date</mat-label>
          <input type="date" matInput placeholder="date" formControlName="appDate" required>
        </mat-form-field>

        <div class="details">
          <mat-form-field>
            <mat-label>Student Name</mat-label>
            <input type="text" matInput placeholder="First Name" formControlName="firstName" required>
          </mat-form-field>
          <mat-form-field>
            <input type="text" matInput placeholder="Middle Name" formControlName="middleName" required>
          </mat-form-field>
          <mat-form-field>  
            <input type="text" matInput placeholder="Last Name" formControlName="lastName" required>
          </mat-form-field>  
        </div>

        <div class="frname">
          <mat-form-field>
            <mat-label>Fathers Name</mat-label>
            <input type="text" matInput placeholder="First Name" formControlName="f_firstname" required>
          </mat-form-field>
          <mat-form-field>
            <input type="text" matInput placeholder="Middle Name" formControlName="f_middlename" required>
          </mat-form-field>
          <mat-form-field>               
            <input type="text" matInput placeholder="Last Name" formControlName="f_lastname" required>
          </mat-form-field>           
        </div>

        <div class="pdetails">
          <mat-form-field>
            <mat-label>Date of Birth</mat-label>
            <input type="date" matInput placeholder="DOB" formControlName="dob" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Phone No</mat-label>
            <input type="number" matInput placeholder="Enter your Number" formControlName="phno" required>
          </mat-form-field>
          <mat-form-field>  
            <mat-label>Email ID</mat-label>
            <input type="email" matInput placeholder="Enter yur emali" formControlName="email" required>
          </mat-form-field>  
        </div>

        <div class="add">
        <mat-form-field>
          <mat-label>Address</mat-label>
          <textarea name="address" id="add"  matInput formControlName="address" placeholder="Ex. 1 Main St, New York, NY"
          required ></textarea>              
        </mat-form-field>
      </div>

      <div class="contact">
        <mat-form-field>
        <mat-label>Parent/Guardian contact Details</mat-label>
          <input matInput type="text" placeholder="Enter your Address" formControlName="p_contact" required>
        </mat-form-field>
        <mat-form-field>
        <mat-label>Total Household Income</mat-label>
          <input matInput type="text" placeholder="Enter your Address" formControlName="income" required>
        </mat-form-field>
      </div>

        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Education Details</ng-template>

        <h4 style="text-decoration: underline;">Course Details</h4>

        <mat-form-field>
          <div class="education">
            <mat-label>Course Applying For</mat-label>
            <input matInput formControlName="secCtrl" placeholder="" required>
          </div>
        </mat-form-field>
        
        <!-- Qualification details of Student -->

      <h4 style="text-decoration: underline;">Qualifications Details</h4>
      <div class="qualification">
        <mat-form-field>
          <mat-label>Degree</mat-label>
          <input matInput formControlName="Degree" placeholder="Enter your Degree Details" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>College Name</mat-label>
          <input matInput formControlName="Collegename" placeholder="Enter your College Name" required>
        </mat-form-field><br><br>
        <mat-form-field>
          <mat-label>Year of Passing</mat-label>
          <input input type="date" matInput  formControlName="Year" placeholder="Enter your Year of Passing" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Percentage</mat-label>
          <input matInput formControlName="Percentage" placeholder="Enter your Percentage" required>
        </mat-form-field>
      </div>
        
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Declaration</ng-template>

      <h4 style="text-decoration: underline;">Declaration and Submission</h4>
      <p>I Declare that all the information given is true and complete to the best of my Knowledge.I Understand that false or misleading Information may result in my rejection of the application </p>
      <div class="sign2">
        <mat-form-field>
          <mat-label>student signature</mat-label>
          <input matInput formControlName="studentsign" placeholder="Enter your sign" required>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Parent/Guardian signature</mat-label>
          <input matInput formControlName="Parentsign" placeholder="Enter sign" required>
        </mat-form-field><br><br>
      </div>
       <div class="dateapp">
      <mat-form-field>
        <mat-label>Date</mat-label>
        <input input type="date" matInput formControlName="Dateapp" placeholder="Enter your Date" required>
      </mat-form-field>
       </div>

      <div class="enclosure"> 
        <P>ENCLOSURES<P> 
      </div>
          <li>Passport size photo</li>
          <li>Copy of Aadhar card</li>
          <li>Copy of photo ID proof</li>
          <li>Original certificate</li>
          <li>Income certificate</li><br><br>

          <div class="Student-enclousure">
            <ul>
              <li>Upload photo <br><input type="file"></li>
              <li>Upload Aadhar<br><input type="file"></li>
              <li>Upload Markssheet<br><input type="file"></li>
              <li>Upload College ID card<br><input type="file"></li>
              <li>Income Certificate<br><input type="file"></li>
            </ul>
          </div>

            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Save</button>
            </div>
          </form>
    </mat-step>

   
    <mat-step [stepControl]="fourthFormGroup">
      <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>PREVIEW/DONE</ng-template>
      <mat-form-field>
        <mat-label>PREVIEW</mat-label>
      <table>
        <input type="text" matInput formControlName="table" name="studentID" id="" value="StudentID">
        <input type="text" matInput formControlName="table" name="studentnm" id="" value="Student Name">
        <input type="text" matInput formControlName="table" name="fathernm" id="" value="Fathers Name">
        <input type="date" matInput formControlName="table" name="dob" id="" value="Date of Birth">
        <input type="email" matInput formControlName="table" name="email" id="" value="Email">
        <input type="text" matInput formControlName="table" name="education" id="" value="Qualification">
        <input type="text" matInput formControlName="table" name="Course" id="" value="Selected Course">
      </table>
      </mat-form-field>
      
        <button mat-button matStepperNext colour="primary" (click)="onsubmit()">submit</button>
      
     </form>
    </mat-step>
  </mat-stepper>
</div>
   
   