.register-main{
    height: 90%;
    width: 50%;
    border: 1px solid #DC143C;
    margin: auto;
    margin-top: 50px;
    
}
.head-login{
    height: 120px;
    background-color: #DC143C;
    display: flex;
    align-items: center;


}
.img img{
    height: 80px;
    width: 80px;
    margin-left: 20px;
}
.login-heading{
    color: #fff;
    margin-left: 10px;
}
.head-p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 5px;
}

mat-form-field{
    padding: 7px;
    width: 48%;
}
.details{
    display: flex;
    width: 99%;
}
.appl{
    display: flex;
}
.frname{
    display: flex;
    width: 99%;
}
.pdetails{
    display: flex;
    width: 99%;
}
.add{
    width: 203%;
}
