<div class="register-main">
    <div class="head-login">
      <link rel="stylesheet" href="registration.component.css">
        <div class="img">
           <img src="logo.png" alt="sdhub">
        </div>
        <div class="login-heading">
            <p class="head-p">Student Registration</p>
           <p>Skill Development Hub</p>
        </div>
    </div>
    <mat-stepper [linear]="islinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Peronal details</ng-template>
            <mat-form-field>
              <mat-label>student id</mat-label>
              <input type="text" matInput placeholder="std id" formControlName="firstCtrl" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>application date</mat-label>
              <input type="date" matInput placeholder="appl date" formControlName="firstCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
          <form [formGroup]="secondFormGroup">
            <mat-form-field>
              <mat-label>Address</mat-label>
              <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                     required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-stepper>
   
   