.register-main{
    height: 90%;
    width: 50%;
    border: 1px solid #DC143C;
    margin: auto;
    margin-top: 50px;
    
}
.head-login{
    height: 120px;
    background-color: #DC143C;
    display: flex;
    align-items: center;


}
.img img{
    height: 80px;
    width: 80px;
    margin-left: 20px;
}
.login-heading{
    color: #fff;
    margin-left: 10px;
}
.head-p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 5px;
}
.module{
    height: 100px;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.num-1{
    padding: 5px 12px;
    background: #DC143C;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 10px;
    width: fit-content;
    margin-left: 15px;
}
.num-2{
    padding: 5px 12px;
    background: silver;
    color: black;
    border-radius: 50%;
    text-align: center;
    font-size: 10px;
    width: fit-content;
    margin-left: 15px;   
}
.num{
    background-color: #DC143C;
    
}
/* ------------Body Section--------------- */

.module-h1{
    color: #DC143C;
    margin-left: 20px;
}
.module-h1 h1{
    font-size: 35px;
    border-bottom: 1px solid #DC143C;
    width: 98%;
}
.form-section{
    padding: 20px;
}
label{
    color: #DC143C;
    margin-bottom: 15px;
}
input[type = date]{
    width: 98%;
    padding: 8px;
    outline: none;
    border: 1px solid #DC143C;
    margin: 8px 0;
}
.nm-input{
    display: flex;
    justify-content: space-between;
}
input[type = text]{
    width: 30%;
    padding: 8px;
    outline: none;
    border: 1px solid #DC143C;
    margin: 8px 0;
}
.personal-details{
    display: flex;
    justify-content: space-between;
}
input[type = email]{
    width: 30%;
    padding: 8px;
    outline: none;
    border: 1px solid #DC143C;
    margin: 8px 0;
}
.personal-sub{
    width: 80%;

}
.personal-sub input[type=text],[type = email]{
    width: 95%;
}
.personal-sub input{
    width: 90%;
    
}